<div>
  <h2>Demo Form: Sku</h2>
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
    <div>
      <label for="skuInput">SKU</label>
      &nbsp;
      <input type="text"
             id="skuInput"
             placeholder="SKU"
             name="sku" ngModel>
    </div>
    <p></p>
    <button type="submit">Submit</button>
  </form>
</div>
<hr>
<div>
  <h2>Demo Form: Sku with Builder</h2>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
    <div class="field">
      <label for="skuInput">SKU</label>
      <input type="text"
             id="skuInput2"
             placeholder="SKU"
             [formControl]="myForm.get('sku')">
             <!--[formControl]="myForm.controls['sku']">-->
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
