<form [formGroup]="mainQuestions">
  <div>除了生活消費外，你最常花費在哪些項目上？</div>
  <mat-checkbox labelPosition="before" [formControl]="mainQuestions.get('payForBook')" (change)="payForChange()">書籍
  </mat-checkbox>
  &nbsp;
  <mat-checkbox [formControl]="mainQuestions.get('payForMusic')" (change)="payForChange()">音樂</mat-checkbox>
  &nbsp;
  <mat-checkbox [formControl]="mainQuestions.get('payForMovie')" (change)="payForChange()">電影</mat-checkbox>
  <mat-checkbox formControlName="payForAll" [indeterminate]="indeterminateSelectedPayFor"
                (change)="checkAllChange($event)">全部
  </mat-checkbox>
</form>
