<form [formGroup]="mainQuestions">
  <div>除了生活消費外，你最常花費在哪些項目上？</div>
  <mat-checkbox labelPosition="before" [formControl]="mainQuestions.get('payForBook')" (change)="payForChange()">書籍
  </mat-checkbox>
  &nbsp;
  <mat-checkbox [formControl]="mainQuestions.get('payForMusic')" (change)="payForChange()">音樂</mat-checkbox>
  &nbsp;
  <mat-checkbox [formControl]="mainQuestions.get('payForMovie')" (change)="payForChange()">電影</mat-checkbox>
  <mat-checkbox formControlName="payForAll" [indeterminate]="indeterminateSelectedPayFor"
                (change)="checkAllChange($event)">全部
  </mat-checkbox>
  <hr>
  <div>對於Angular，你的評價是？</div>
  <mat-radio-group labelPosition="before" [formControl]="mainQuestions.get('evaluate')">
    <mat-radio-button [value]="1">超討厭</mat-radio-button>
    &nbsp;
    <mat-radio-button [value]="2">討厭</mat-radio-button>
    &nbsp;
    <mat-radio-button [value]="3">普通</mat-radio-button>
    &nbsp;
    <mat-radio-button [value]="4">喜歡</mat-radio-button>
    &nbsp;
    <mat-radio-button [value]="5">超喜歡</mat-radio-button>
  </mat-radio-group>
</form>
