<form [formGroup]="surveyForm">
  <mat-form-field>
    <input type="text" name="birthday" [formControl]="surveyForm.get('birthday')" matInput
           placeholder="生日" [min]="minDate" [max]="maxDate"
           [matDatepickerFilter]="familyDayFilter" [matDatepicker]="birthdayPicker"
           (dateInput)="logDateInput($event)" (dateChange)="logDateChange($event)"/>
    <mat-datepicker-toggle [for]="birthdayPicker" matSuffix></mat-datepicker-toggle>
    <mat-datepicker disabled="false" #birthdayPicker [startAt]="startDate"></mat-datepicker>
  </mat-form-field>
</form>
